


html, body {
    margin: 0;
    padding: 0;
    background-image: url("img/felt.jpg") ; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
    background-size: cover;
    font-family: "Exo 2", sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

